name: Deploy dbt project

on:
  push:
    branches:
      - PRD
    paths:
      - ".github/workflows/deploy_dbt.yml"
      - "tasty_bites/**"

permissions:
  id-token: write # Required for GitHub OIDC token generation
  contents: read    

jobs:

  deploy:
    runs-on: ubuntu-latest  
    name: Deploy dbt

    env:
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}      
      SNOWFLAKE_DATABASE: DBTDEMO_PRD
      SNOWFLAKE_SCHEMA: PUBLIC
      SNOWFLAKE_ROLE: DBTDEMO_PRODUCTION
      SNOWFLAKE_WAREHOUSE: DBTDEMO_GENERIC_WH

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Snowflake CLI (OIDC)
        uses: Snowflake-Labs/snowflake-cli-action@v2.0
        with:
          use-oidc: true
          cli-version: "3.14"

      - name: Test connection
        run: |
          snow connection test -x

      - name: Deploy dbt project
        run: |
          cd tasty_bites

          rm -f profiles.yml
          mv profiles-prd.yml profiles.yml

          snow dbt deploy tasty_bites -x --external-access-integration DBT_EA_INTEGRATION
